<!DOCTYPE html>
<html>
<head>
	<title>{{filename}}</title>
	{% include "style.html" %}
	{% include "favicon.html" %}
	{% include "meta.html" %}
	<style>
		#delete_button {
			background: crimson;
		}
	</style>
</head>
<body>
<div class="container">
	<div class="form-box">
		<div class="file-info">
			<p><strong>Filename:</strong> {{filename}}</p>
			<p><strong>MIME Type:</strong> {{mimetype}}</p>
			<p><strong>Expires:</strong> {{expiry}}</p>
			<p><strong>Size:</strong> {{filesize}}</p>
		</div>
		<div style="display: flex; gap: 10px;">
			<form action="{{download_url}}" method="get">
				<button type="submit">Download</button>
			</form>
			<form action="{{delete_url}}" method="post">
				<button type="submit" id="delete_button">Delete</button>
			</form>
		</div>
		<img id="qrcode" src="data:image/png;base64, {{ qr_b64 }}" width="{{qr_size}}px", height="{{qr_size}}px" alt="">
	</div>
</div>
</body>
</html>
