<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Upload to Tapfer</title>
	{% include "style.html" %}
</head>
<body>
<form action="/" method="post" enctype="multipart/form-data">
	<label>
		Choose file to upload:
		<input type="file" name="file">
	</label>
	<input type="submit" value="Upload files">
	<select name="expiration">
		<option value="single_download" selected="selected">Delete after one download</option>
		<option value="24_hours">Delete after 24 hours</option>
	</select>
</form>
</body>
</html>
