<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Upload to Tapfer</title>
	{% include "style.html" %}
	{% include "favicon.html" %}
	{% include "meta.html" %}
	<style>
        #uploadBox {
            position: relative;
            z-index: 1;
            padding: 2em;
            margin: auto;

            /* PROGRESS GRADIENT */
            background-image: linear-gradient(to right, #4caf50, #4caf50);
            background-repeat: no-repeat;
            background-size: 0% 100%;
            background-color: #ffffff; /* fallback background */
            transition: background-size 0.2s ease;

        }

        #blurred-percentage {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14rem; /* Adjust this to fine-tune fit */
            color: rgba(0, 0, 0, 0.1);
            user-select: none;
            pointer-events: none;
            z-index: 2;
            white-space: nowrap;
        }

		#qrcode {
			filter: blur(5px);
		}

		#filelink {
			border-bottom-style: dot-dot-dash;
			transition: color 0.5s ease;
		}

		#filelink:hover {
			color: crimson;
		}

		.show_on_upload {
			visibility: hidden;
		}
	</style>
</head>
<body>
<section class="container">
	<div id="blurred-percentage"></div>
	<div class="form-box" id="uploadBox">
		<div class="container">
			<div>
				Drop file anywhere or <a id="filelink" href="javascript:document.getElementById('file_input').click();">select a file</a>
			</div>

			<form id="uploadForm">
				<div style="display: flex; align-items: center; gap: 0.5rem;">
					<p style="margin: 0;">Delete after:</p>

					<label>
						<input type="radio" name="expiration" value="single_download" id="del_1download" checked>
						one download
					</label>

					<label>
						<input type="radio" name="expiration" value="24_hours" id="del_24hours">
						24 hours
					</label>
				</div>

				<label>
					<input style="display: none" id="file_input" type="file" name="file" required>
				</label>
				<input style="display: none" type="submit" value="Upload files">
			</form>

			<div>
				Or use CURL <br>
				<code id="curl_command" style="user-select: all; padding: 0.2rem 0 0.2rem 0.2rem;">curl -X POST https://example.com -F file=@</code><code style="color: #00e2ff; !important; user-select: none; padding: 0.2rem 0.2rem 0.2rem 0;">$FILEPATH</code>
				<script>const loc = window.location.origin; const fmt = `curl -X POST ${loc} -F file=@`; document.getElementById("curl_command").innerText = fmt</script>
			</div>

			<div id="progress_text" class="show_on_upload">0MB/0MB 0MB/s</div>
			<div>
<!--				Padded to UUID string length-->
				<a id="download_url" href="unset" target="_blank" class="show_on_upload">Download URL                        </a>
				<button id="copy_link_button" class="show_on_upload">Copy to clipboard</button>
			</div>
			<img id="qrcode" src="data:image/png;base64, {{ qr_b64 }}" width="{{qr_size}}px", height="{{qr_size}}px" alt="">
		</div>
	</div>
</section>
{% include "footer.html" %}
<script>
	// All id elements
    const copylink_button = document.getElementById("copy_link_button");
    const download_url = document.getElementById("download_url");
    const progresstext = document.getElementById("progress_text");
    const background = document.getElementById('uploadBox');
    const percentageElement = document.getElementById('blurred-percentage');
    const form = document.getElementById('uploadForm');
    const fileinput = document.getElementById("file_input");

    copylink_button.addEventListener("click", () => {
		navigator.clipboard.writeText(download_url.href);
		copylink_button.innerText = "Copied!";
	});

    // Prevent default actions
    ['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
        document.body.addEventListener(eventName, (e) => e.preventDefault(), false);
    });

    // Dispatch upload when a file is dragged and dropped
    document.body.addEventListener("drop", (e) => {
        e.preventDefault();
        const dataTransfer = new DataTransfer();
        dataTransfer.items.add(e.dataTransfer.files[0]);
        fileinput.files = dataTransfer.files;
        form.dispatchEvent(new Event('submit', {bubbles: true, cancelable: true}));
	})

	// Dispatch upload once a file is selected
	fileinput.addEventListener("change", (e) => {
        e.preventDefault();
        form.dispatchEvent(new Event('submit', {bubbles: true, cancelable: true}));
    })

	// Prevent opening when it's not ready yet
    download_url.addEventListener("click", (e) => {
        if (download_url.href.endsWith("unset")) {
            e.preventDefault();
		}
	})

    form.addEventListener('submit', function (e) {
        // We handle the entire request ourselves
        e.preventDefault();

        // Generate any random 32 bit integer
        const array = new Uint32Array(1);
        window.crypto.getRandomValues(array);
        const random_seed =  array[0];

        const form = e.target;
        const formData = new FormData(form);

        // Prepare our POST
        const main_xhr = new XMLHttpRequest();
        let cdnUrl = window.location.origin;
        if (window.location.hostname !== 'localhost') {
            cdnUrl = cdnUrl.replace(window.location.hostname, "cdn." + window.location.hostname);
		} else {
            console.log("Localhost mode, not using CDN url");
		}

        // Set all form fields as headers
        const fileInput = form.querySelector('input[name="file"]');
        const file = fileInput.files[0];

        const params = new URLSearchParams({
            "file_size": file.size,
            "progress_token": random_seed.toString(),
            "expiration": formData.get("expiration"),
            "source": "frontend",
            "timezone": Intl.DateTimeFormat().resolvedOptions().timeZone
        });

        main_xhr.open('POST', `${cdnUrl}/?${params.toString()}`, true);


        background.style.backgroundSize = '0% 100%';

        // Tracks upload speed
        let last_progress = Date.now();
        let last_loaded = 0;

        // Circular buffer for recent speed samples
        const speedSamples = [];
        const maxSamples = 300;

        main_xhr.upload.addEventListener('progress', function (e) {
            if (e.lengthComputable) {
                const percent = (e.loaded / e.total) * 100;
                background.style.backgroundSize = percent + '% 100%';
                percentageElement.innerText = `${percent.toFixed(1)}%`;

                const now = Date.now();
                const elapsed = (now - last_progress) / 1000;// seconds not millis
                const bytes_since_last = e.loaded - last_loaded;
                const speedBps = bytes_since_last / (elapsed || 1); // bytes per second (avoid divide by zero)

                speedSamples.push(speedBps);
                if (speedSamples.length > maxSamples) {
                    speedSamples.shift(); // remove oldest
                }

                const averageSpeed = speedSamples.reduce((a, b) => a + b, 0) / speedSamples.length;

                progresstext.innerText = `${(e.loaded / 1024 / 1024).toFixed(1)}MB / ${(e.total / 1024 / 1024).toFixed(1)}MB ${(averageSpeed / 1024 / 1024).toFixed(1)}MB/s`;
                last_progress = now;
                last_loaded = e.loaded;
            }
        });

        let fired = false;
        let sent = Date.now();

        main_xhr.upload.addEventListener('progress', function (e) {
            if (fired) {return;}
            // Do not send id request when less than a megabyte has been transferred
			// This is both:
			// a hack ensuring the backend registered the id token and;
			// a measure to protect the backend from getting a request with tiny payloads that complete instantly
			// Only fire token request when one second of upload has passed
            if ((Date.now() - sent) < 1000) {return;};

            const token_xhr = new XMLHttpRequest();
            token_xhr.open('GET', `/uploads/query_id/${random_seed}`, true);
            const qrcode = document.getElementById('qrcode');

            token_xhr.onload = async function () {
                if (token_xhr.status >= 200 && token_xhr.status < 300) {
                    const url = `/uploads/${token_xhr.responseText}`;
                    download_url.href = url;
                    download_url.innerText = token_xhr.responseText;

                    qrcode.src = `/qrcg/${token_xhr.responseText}`;
                    qrcode.style.filter = 'none';
                }
            };


            token_xhr.send();
            fired = true;
        });

        main_xhr.onload = function () {
            // Follow redirect to upload location
            if (main_xhr.status >= 200 && main_xhr.status < 300) {
                console.log(`redirecting to ${main_xhr.responseText}`);
                window.location.href = main_xhr.responseText;
            } else {
                alert('Upload failed.');
                background.style.backgroundSize = '0% 100%';
            }
        };

        // Unset all form fields, as only file will be needed. The rest is in the headers
        formData.delete("expiration");
        main_xhr.send(formData);

        const show_elems = document.getElementsByClassName("show_on_upload");
        for (const elem of show_elems) {
            elem.style.visibility = "unset";
		}
    });
</script>
</body>
</html>
