<style>
    #footer {
        position: fixed;
        bottom: 0;
        width: 20%;
        color: #FFFFFF;
        text-align: center;
		padding: 10px;
    }
	#footer > a:visited {
		color: #FFFFFF;
	}
</style>

<div id="footer">
	<a href="https://github.com/FlareFlo/tapfer" target="_blank" rel="noreferrer">
		<img style="height: 3rem" src="/static/github-mark.svg" alt="Github mark">
	</a>
	<a href="/docs" target="_blank" rel="noreferrer">
		<img style="height: 3rem" src="/static/docs.png" alt="Api docs">
	</a>
</div>